<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Kalam:wght@300&display=swap" rel="stylesheet">
        <link rel='icon' href='/img/favicon.png'>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <article class="about-content">
                <header class="about-header">
                    <img class="portrait" alt="Headshot of Cyril Adam" src='/img/author.jpg'/>    
                </header>
                <section class="about-info">     
                    <p>Hi, my name is <em>Cyril</em>,</p>
                    <p>
                    I am happy to join the <strong>fhnw</strong> <em>CAS Web Applikationen</em> to learn <strong>best practices</strong>, 
                    develop my <strong>skills</strong>, open my <strong>mind</strong>, discover <strong>new</strong> lands,
                    meat <strong>great</strong> persons, share <strong>experience</strong> and have <em>fun</em>
                    </p>
                    
                </section>
            </article>        
        </div>
        {{>footer}}
    </body>
</html>