<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/img/favicon.png" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/game.css" />
        <link rel="stylesheet" href="/css/slider.css" />
        <style>
            #controls {
                margin-top: 18px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 800px;
            }
            #controls ul {
                margin: 10px 0;
            }
            #controls li {
                list-style: none;
                display: flex;
                align-items: center;
            }
            #controls li:not(:last-child) {
               margin-bottom: 18px;
            }
            #controls label {
                width: 100px;
            }
        </style>
        <title>Ball Gravity v2</title>
    </head>
    <body>
        <div style="display:none;">
            <img id="backgroundImg" src="/img/wood-texture.jpg">
        </div>
        <div class="main-content">
            {{>header}}
            <article>
                <canvas class="game-canvas ball-canvas" width="800px" height="400px"></canvas>
            </article>
            <div id="controls">
                <ul>
                    <li><label>Nb Balls : </label><input type="range" min="1" max="20" value="5" class="slider" id="nbBalls"></li>
                    {{!-- <li><label>Divers : </label><input type="range" min="1" max="100" value="10" class="slider test" id="divers1"></li>
                    <li><label>Divers : </label><input type="range" min="1" max="100" value="10" class="slider test" id="divers2"></li> --}}
                </ul>
                <input id="startGame" type="button" class="btn" value="Start Game">
            </div>
        </div>
        {{>footer}}
<script type="module">
    import { GameControler, GameView, init } from "./js/modules/ball-milestone2.js";
    import { tatResults } from "./js/modules/tests/ball-milestone2Test.js";
    init(tatResults);

    let gameControler = GameControler();
    let gameView = GameView(
        gameControler,
        document.querySelector('.ball-canvas'),
        document.querySelector('#backgroundImg'),
        document.querySelector('#controls'),
    );
    document.querySelector('#startGame').onclick    = _ => gameControler.startGame();

</script>        
    </body>
</html>