<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/img/favicon.png" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/game.css" />
        <script src="/js/ball.js"></script>
        <title>Ball Gravity</title>
    </head>
    <body onload="init()">
        <div class="main-content">
            {{>header}}
            <article>
                <canvas class="game-canvas ball-canvas" width="800px" height="400px"></canvas>
            </article>
        </div>
        {{>footer}}
    </body>
</html>