<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/img/favicon.png" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/game.css">
        <script type="module" src="./js/modules/cellife.js"></script>
        <title>Cellife</title>
        <style>
            #background {
                filter: grayscale(100%);
                transition: filter 0.5s;
            }
            #background.on {
                filter: none;
            }
            #hallOfFame {
                display: grid;
                column-gap: 0.5em;
                grid-template-columns: repeat(4, 1fr);
                margin-bottom: 0.5em;
            }
            #partiesInfo {
                display: grid;
                column-gap: 0.5em;
                grid-template-columns: repeat(7, 1fr);
                margin-bottom: 0.5em;
            }
        </style>
    </head>
    <body onload="init('.main-content')">
        <div class="main-content">
            {{>header}}
            <div id="controls">
                <h3 id="welcomeTxt"></h3>
                There are <span id="clientsCount">0</span> connected user(s)<br />
                <div id="hi"></div><br/>
                <label>Name : </label><input id="username" type="text" value="John Do" /><br/>
                <label>Nb Players : </label><input id="nbPlayers" type="number" min="1" max="10" value="2" /> <label>Party Name : </label><input id="partyName" type="text" value="" /> <button id="newParty">Create Party</button> <button id="leaveParty">Leave Party</button><br/>
                <br/>
                <label>Party : </label><span id="currPartyName"></span> / <label>NbPlayers : </label><span id="currPartyNbPlayers"></span> / <label>Timer : </label><span id="currPartyTimer"></span><br/>
                <label>Nb Bombs : </label><span id="nbBullets"></span> / <label>Score : </label><span id="score"></span> / <label>High Score : </label><span id="highScore"></span><br/>
                <label>Message : </label><span id="message"></span><br/>
            </div><br/>
            <audio id="soundGameOn" src="/sounds/GAMEON.WAV"></audio>
            <audio id="soundGameEnd" src="/sounds/GAMEEND.WAV"></audio>
            <audio id="soundBlip" src="/sounds/BLIP1.WAV"></audio>
            <div style="position: relative">
                <img id="background" src="/img/pain-texture.jpg" alt="abstract painture" width="401px" height="401px"/>
                <canvas style = "position: absolute; top:0; left:0;" class="game-canvas" width="400px" height="400px"></canvas>
            </div>
            <div>
                <h3>Parties</h3>
                <div id="partiesInfo"/>
            </div>
            <div>
                <h3>Hall of Fame</h3>
                <div id="hallOfFame"/>
            </div>
            <div>
                <h3>Admin</h3>
                <label>Nb Bullets : </label><input type="range" min="0" max="5" value="0" list="tickmarks1" class="slider" id="nbPlayerBullets"><br/>
                <label>Nb Bombs : </label><input type="range" min="0" max="20" value="0" list="tickmarks5" class="slider" id="nbBombs"><br/>
                <label>Game Duration : </label><input type="range" min="0" max="180" value="0" step="30" list="tickmarks60" class="slider" id="gameDuration"><br/>
                <label>Game Timeout : </label><input type="range" min="0" max="180" value="0" step="30" list="tickmarks60" class="slider" id="gameTimeOut"><br/>
                <label>Welcome Text : </label><input id="welcomeTextInput" type="text" value="" /><br/>
                <datalist id="tickmarks1"><option value="0"></option><option value="1"></option><option value="2"></option><option value="3"></option><option value="4"></option><option value="5"></option><option value="6"></option><option value="7"></option><option value="8"></option><option value="9"></option><option value="10"></option></datalist>
                <datalist id="tickmarks5"><option value="0"></option><option value="5"></option><option value="10"></option><option value="15"></option><option value="20"></option><option value="25"></option><option value="30"></option><option value="35"></option><option value="40"></option><option value="45"></option><option value="50"></option></datalist>
                <datalist id="tickmarks60"><option value="0"></option><option value="60"></option><option value="120"></option><option value="180"></option><option value="240"></option><option value="300"></datalist>
                <br/> 
                <button id="resetHof">Reset Hall of Fame</button><br/> 
            </div>
        </div>
        {{>footer}}
    </body>
</html>
