<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Kalam:wght@300&display=swap" rel="stylesheet">
        <link rel='icon' href='/img/favicon.png'>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body onload="init()">
        <div class="main-content">
            {{>header}}
            <ul class="help-item">
                <li>
                    <p class="help-title">Snake</strong></p>
                    <section class="help-content">
                        <p>
                        Use the <strong>left</strong> and <strong>right</strong> arrow keys to change the direction of the snake.<br/>
                        Eat food to increase your score.<br/>
                        Eat a bomb or bitting yourself will <strong>end</strong> the game!</p>
                    </section>  
                </li>     
                <li>
                    <p class="help-title">Plotter</strong></p>
                    <section class="help-content">
                        <p>
                        Enter the <strong>formula</strong> in the input field.<br/>
                        Use the <strong>arrow</strong> keys to move the graph and the <strong>pageUp</strong> and <strong>pageDown</strong> keys to zoom in and out.
                        </p>
                    </section>  
                </li>                  
            </ul>
        </div>
        {{>footer}}
    </body>
</html>