<!DOCTYPE html>
<html>
    <head>
        <title>CAS-WebApp</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Kalam:wght@300&display=swap" rel="stylesheet">
        <link rel='icon' href='/img/favicon.png'>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>Last News</h2> 
            <ul class="news-item">
                <li>
                    <div class="news-header new">
                        <p class="news-title">Improve <strong>Home</strong></p>
                        <p class="news-date">05.06.2022</p>
                    </div>  
                    <p class="news-content">
                        Practice of <em>WebSocket</em> : <strong>network delays</strong> is <em><span id="lanSpeed">NaN</span>ms</em>
                    </p>  
                </li>  
                <li>
                    <div class="news-header new">
                        <p class="news-title"><strong>Refactoring</strong> of Balls</p>
                        <p class="news-date">02.06.2022</p>
                    </div>  
                    <p class="news-content">
                        Practice of MVC, Observables and <em>CSS</em>
                    </p>  
                </li>  
                <li>
                    <div class="news-header">
                        <p class="news-title"><strong>Refactoring</strong> of ToDo list</p>
                        <p class="news-date">18.05.2022</p>
                    </div>  
                    <p class="news-content">
                        Practice of JsDoc, MVC, Attributes, Observables and <em>Projectors</em> patterns!
                    </p>  
                </li>  
            </ul>
            <input id ="toggleLastMonths" class="hidden" type="checkbox" checked>
            <label for="toggleLastMonths" class="toggle"> &nbsp; Last Months news</label>
            <div class="collapsible">
            <ul class="news-item">
                <li>
                    <div class="news-header">
                        <p class="news-title">Release of <strong>Infected</strong></p>
                        <p class="news-date">23.04.2022</p>
                    </div>  
                    <p class="news-content">
                        Help <strong>Anticorps</strong> to fight again <strong>Virus</strong>!
                    </p>  
                </li>  
                <li>
                    <div class="news-header">
                        <p class="news-title">Release of <strong>ToDo</strong> list</p>
                        <p class="news-date">09.04.2022</p>
                    </div>  
                    <p class="news-content">
                        Practice of MVC, Observables <em>Patterns</em>
                    </p>  
                </li>  
                <li>
                    <div class="news-header">
                        <p class="news-title"><strong>Test-Cases</strong> Report</p>
                        <p class="news-date">03.04.2022</p>
                    </div>  
                    <p class="news-content">
                        Include <strong>TAT</strong> of internal modules and game engine
                    </p>  
                </li>  
                <li>
                    <div class="news-header">
                        <p class="news-title">Release of <strong>Excel</strong></p>
                        <p class="news-date">13.03.2022</p>
                    </div>  
                    <p class="news-content">
                        Practice of advanced <strong>scripting</strong> to build a <em>Excel</em> clone within a web browser!
                    </p>  
                </li>  
                <li>
                    <div class="news-header">
                        <p class="news-title">Release of <strong>Plotter</strong></p>
                        <p class="news-date">11.03.2022</p>
                    </div>  
                    <p class="news-content">
                        Based on <em>Scripting</em> principles, the plotter draw a function entered by the user
                    </p>  
                </li>   
                <li>
                    <div class="news-header">
                        <p class="news-title">Release of <strong>Balls</strong> (Gravity Demo)</p>
                        <p class="news-date">11.03.2022</p>
                    </div>  
                    <p class="news-content">
                        Simulation of gravity with <strong>Balls</strong>.<br/>
                        Practice of <strong>test-cases</strong>, <em>lambda calculus</em> expressions and canvas rendering optimisation
                    </p>  
                </li>     
                <li>
                    <div class="news-header">
                        <p class="news-title">Release of <strong>Snake</strong> Game</p>
                        <p class="news-date">04.03.2022</p>
                    </div>  
                    <p class="news-content">
                        Today, I release the [first] version of the <strong>Snake Game</strong>.<br/>
                        Enjoy to feed your snake while taking care not to drop on a <strong>bomb</strong>!
                    </p>  
                </li>                
                <li>
                    <div class="news-header">
                        <p class="news-title"><strong>CAS-WebApp</strong> is <strong>life</strong>!</p>
                        <p class="news-date">04.03.2022</p>
                    </div>  
                    <p class="news-content">
                        Welcome to my <strong>CAS-WebApp</strong> portal.<br/>
                        The purpose of this site is to share with other <em>fhnw</em> students and teachers my homeworks and achivements.<br/>
                        Source code available on <a href="https://github.com/cyriadam/fhnw-caswapp-website" target="_blank">github</a> 
                    </p>  
                </li>
            </ul>
            </div>
        </div>
        {{>footer}}
<script type="module">
    import { HomeView } from "./js/home.js";

    let homeView = HomeView();
    homeView.addToggle(document.querySelector('#toggleLastMonths'));
    homeView.addLanSpeed(document.querySelector('#lanSpeed'))
</script> 
    </body>
</html>