<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/game.css" />
    <link rel="stylesheet" href="/css/plotter-styles.css" />
    <script src="/js/lambda.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/plotter.js"></script>
    <title>Plotter</title>
    </head>
    <body onload="init()">
        <div class="main-content">
            {{>header}}
            <article>
                <canvas id="plotter_canvas" class="game-canvas" width="800px" height="400px"></canvas>
                <p><input class="plotter-function" value="Math.cos(x)" /></p>
            </article>
        </div>
        {{>footer}}
    </body>
</html>