<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/img/favicon.png" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/game.css">
        <script type="module" src="./js/modules/poc-milestone2.js"></script>
        <title>Test</title>
    </head>
    <body onload="init('.main-content')">
        <div class="main-content">
            {{>header}}
            <div id="controls">
                <div id="hi"></div><br/>
                <label>Name : </label><input id="username" type="text" value="John Do" /> <button id="addPlayer">Start Game</button> <button id="endGame">End Game</button><br/>
                <label>Score : </label><span id="score"></span><br/>
                <label>Message : </label><span id="message"></span><br/>
            </div><br/>
            <audio id="soundGameOn" src="/sounds/GAMEON.WAV"></audio>
            <audio id="soundGameEnd" src="/sounds/GAMEEND.WAV"></audio>
            <audio id="soundBlip" src="/sounds/BLIP1.WAV"></audio>
            <article>
                <canvas class="game-canvas" width="400px" height="400px"></canvas>
            </article>
        </div>
        {{>footer}}
    </body>
</html>
