<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/img/favicon.png" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/game.css">
        <script type="module" src="./js/modules/poc.js"></script>
        <title>Test</title>
    </head>
    <body onload="init('#controls')">
        <div class="main-content">
            {{>header}}
            <div id="controls">
                <div id="hi"></div><br/>
                <label>Name : </label><input id="playername" type="text" value="John Do"> <button id="addPlayer">Add Player</button> <button id="gameend">End Game</button><br/>
                <label>Message : </label><span id="message"></span><br/>
            </div><br/>
            <audio id="soundGameOn" src="/sounds/GAMEON.WAV"></audio>
            <audio id="soundGameEnd" src="/sounds/GAMEEND.WAV"></audio>
            <audio id="soundBlip1" src="/sounds/BLIP1.WAV"></audio>
            <article>
                <canvas class="game-canvas" width="400px" height="400px"></canvas>
            </article>
        </div>
        {{>footer}}
    </body>
    {{!-- <script type="module">
        import {init} from './js/modules/main.js';
        init('#placeHolder');
    </script> --}}
</html>
