<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        <link rel='icon' href='/img/favicon.png'>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel="stylesheet" href="/css/snake.css">
        <script src="/js/snake.js"></script>
        <title>Snake Game</title>
    </head>
    <body onload="initGame()">
        <audio id="soundGameOn" src="/sounds/GAMEON.WAV"></audio>
        <audio id="soundGameEnd" src="/sounds/GAMEEND.WAV"></audio>
        <audio id="soundBlip1" src="/sounds/BLIP1.WAV"></audio>
        <div class="main-content">
            {{>header}}
            <article>
                <canvas class="game-canvas" width="400px" height="400px"></canvas>
            </article>
        </div>
        {{>footer}}
    </body>
</html>