<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/game.css" />
    <script id="template-succeed" type="text/html">
        <li class="succeed">
        <div class="tat-item-container">
        <p class="tat-item-title_succeed">${id}</p>
        <p>All ${nb} test-cases succeed</p>
        </div>
        </li>
    </script> 
    <script id="template-failed" type="text/html">
        <li class="failed">
        <div class="tat-item-container">
        <p class="tat-item-title_failed">${id}</p>
        <p>${nbFails}/${nb} test-cases failed</p>
        </div>
        <div class="usecase-item-container">
        ${failsInnerHtml}
        </div>
        </li>  
    </script>
    <script id="template-usecase" type="text/html">
        <p class="usecase-title">test-case <span>#${id}</span> :</p>
        <p class="usecase-desc">${desc}</p>
    </script>
    <title>TAT</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>Test of internal modules</h2>
            <ul class="tat-items" id="tatContainer"></ul>
        </div>
        {{>footer}}
    <!-- -------------------------------------------------- -->
<script type="module">
    import { allTat }  from './js/modules/test.js';
    import './js/modules/tests/utilTest.js';
    import './js/modules/tests/observableTest.js';
    import './js/modules/tests/presentationModelTest.js';
    // import './js/modules/tests/dataflowTest.js';     // PB due to promises ... 
    // import './js/modules/tests/toDo-milestone1Test.js';
    // import './js/modules/tests/toDo-milestone2Test.js';
    // import './js/modules/tests/toDo-milestone3Test.js';
    // import './js/modules/tests/ball-milestone2Test.js';
    import './js/modules/tests/toDo-milestone4Test.js';
    // import './js/modules/tests/presentationModel-milestone1Test.js';
    import './cellife/js/tests/menuControllerTest.js';
    let $tatContainer = document.querySelector("#tatContainer");
    allTat.render($tatContainer);
</script>
    <!-- -------------------------------------------------- -->
    </body>
</html>