<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/img/favicon.png" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/js/lambda.js"></script>
        <script type="module" src="./js/modules/main.js"></script>
        <title>Test</title>
    </head>
    <body onload="init('#placeHolder')">
        <div class="main-content">
            {{>header}}
            <div id="placeHolder"></div>
        </div>
        {{>footer}}
    </body>
    {{!-- <script type="module">
        import {init} from './js/modules/main.js';
        init('#placeHolder');
    </script> --}}
</html>
