<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/todo.css" />
    <title>ToDo List v1</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="holder">
                <button id="plus" class="btn" autofocus> + </button>
                <button id="fortune" class="btn"> fortune! </button>
                <button id="listTasks" class="btn"> List Tasks </button>
                <div class="table" id="todoContainer"></div>
                <p><br/></p>
                <p>Tasks: <span id="numberOfTasks">0</span>, Open:  <span id="openTasks">0</span></p>
            </div>
        </div>
        {{>footer}}
<script type="module">
    import { ToDoView, init } from "./js/modules/toDo-milestone1.js";
    import { tatResults } from "./js/modules/tests/toDo-milestone1Test.js";
    init(tatResults);

    let toDoView = ToDoView(
        document.querySelector('#todoContainer'), 
        document.querySelector('#numberOfTasks'), 
        document.querySelector('#openTasks')
    );
    document.querySelector('#plus').onclick    = _ => toDoView.newToDo();
    document.querySelector('#fortune').onclick    = _ => toDoView.newFortuneTodo();
    document.querySelector('#listTasks').onclick    = _ => toDoView.listTasks();
    toDoView.newToDo();
</script>     
    </body>
</html>