{{! ### header.hbs }}
<header>
  <h1>{{title}}</h1>

  {{! ### links  }}
  <a href="/">Home</a>
  <a href="/snake">Snake</a>
  <a href="/ball">Balls</a>
  <a href="/plotter">Plotter</a>
  <a href="/about">About</a>
  <a href="/help">Help</a>
</header>