{{! ### header.hbs }}
<header>
  <h1>{{title}}</h1>

  {{! ### links  }}
  <a href="/">Home</a>
  <a href="/snake">Snake</a>
  <a href="/ball">Balls</a>
  <a href="/plotter">Plotter</a>
  <a href="/excel">Excel</a>
  <a href="/toDo">ToDo</a>
  <a href="/infected">Infected</a>
  <a href="/cellife/cellife.html" target="_blank">Cellife</a>
  <a href="/about">About</a>
  <a href="/help">Help</a>
  <a href="/tat">TAT</a>
</header>