/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  /* max-width: 650px; */
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.4;

  --collapse-height: 80vh;
  --arrow-size:       1em;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

h2 {
  font-size: 32px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

p:not(:last-child) {
  margin-bottom: 8px;
}

em {
  font-family: "Kalam", cursive;
  font-size: 1.4em;
  color: #0000ff;
  margin-right: 0.1em;
}

.btn {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn:hover {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  border-color: #b7b7b7;
  transition: padding 0.1s, box-shadow 0.1s, border-color 0.1s;
}

.btn:active {
  transform: scale(0.98);
}

/* --- GENERAL STYLES --- */

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.failed::after,
.new::after {
  content: "NEW";
  color: #ff0000;
  font-size: 12px;
  background-color: #fdfda5;
  border: 1px solid #ff0000;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  margin: -12px -12px 0 0;
  transform: rotate(10deg);
}

.failed::after {
  content: "ERROR";
  color: #ff0000;
  border: 1px solid #248f24;
}

/* --- TAT STYLES --- */

.tat-item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: baseline;
}

.usecase-item-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: baseline;
  margin-top: 10px;
  /* border: 1px solid #d3d3d3; */
}

.tat-item-container > p,
.usecase-item-container > p {
  margin: 0;
}

/* .tat-item-container > * {
  border: 2px solid blue;
} */

.tat-item-title,
.tat-item-title_succeed,
.tat-item-title_failed {
  padding-left: 6px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

/* https://feathericons.com/ */
.tat-item-title_succeed::before {
  display: block;
  content: "";
  background-color: #248f24;
  -webkit-mask-image: url("/img/check-circle.svg");
  mask-image: url("/img/check-circle.svg");
  width: 24px;
  height: 24px;
  float: left;
  margin: 0 12px 0 0;
}

.tat-item-title_failed::before {
  display: block;
  content: "";
  background-color: #ff0000;
  -webkit-mask-image: url("/img/alert-triangle.svg");
  mask-image: url("/img/alert-triangle.svg");
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 12px;
}

p.usecase-title {
  display: list-item;
  list-style: disc outside none;
  margin-left: 60px;
  padding-left: 10px;
}

p.usecase-title span {
  font-weight: bold;
  display: inline-block;
  width: 40px;
  text-align: left;
}

.usecase-desc {
  font-style: italic;
}

/* --- NEWS STYLES --- */

.tat-items li,
.news-item li,
.help-item li {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #c7c7c7;
  list-style: none;
  margin-bottom: 18px;
  padding: 10px;
  width: 80%;
  position: relative;
}

.tat-items .succeed {
  box-shadow: rgba(121, 253, 143, 0.2) 0px 6px 18px;
}

.tat-items .failed {
  box-shadow: rgba(255, 121, 121, 0.2) 0px 6px 18px;
  border-color: #ff0000;
}

.news-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.news-title {
  flex-grow: 1;
}

.news-date {
  color: #888888;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
}

.news-title,
.help-title {
  margin: 0 0 10px 10px;
  text-decoration: solid underline #c7c7c7;
  text-underline-offset: 0.2em;
  /*
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  */
}

.news-content,
.help-content {
  margin-left: 10px;
  font-size: 14px;
}

/* --- ABOUT STYLES --- */

img.portrait {
  width: 250px;
  border: solid #000 1px;
  border-radius: 50%;
  /* box-shadow: 0px 5px 13px -5px rgba(0,0,0,0.50); /* */
}

.about-content {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.about-info {
  margin-left: 100px;
}

.about-info p {
  margin-bottom: 1em;
}

/* business components */

/* Modal background */
#popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Modal content */
#popup-container {
  /* box-shadow: rgba(149, 157, 165) 0px 8px 24px; */
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
#popup-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#popup-close:hover,
#popup-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* expanded div */
div.collapsible {
  /* padding-left: calc(var(--arrow-size) / 2); */
  max-height:   var(--collapse-height);
  overflow:     hidden;  
  transition:   max-height 0.5s ease-out;
}

label.toggle {
  margin-top: 18px;
  margin-bottom: 18px;
}
/* collapsed div todo: change css selector*/
input[type=checkbox]:checked + label + div {
  max-height: 0;
  transition:  max-height 0.5s ease-out;
}

input[type=checkbox].hidden {
  display: none;
}

input[type=checkbox].hidden + label.toggle::before {
  content:    '';
  display:    inline-block;
  position:    relative;
  top:        0.2em;
  width:      var(--arrow-size);
  height:     var(--arrow-size);
  background: darkgray;
  clip-path:  polygon(0 0, 100% 0%, 50% 100%);
  transition: transform 0.5s;
}

/* todo rotate arrow on collapse */
input[type=checkbox]:checked + label::before {
  transform:  rotate(-90deg);
  transition: transform 0.5s;
}
