/* General Styles */

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 128
*/

/* fonts */

@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  input {
    font-size: 14px;
  }
  
  body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 16px;
  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.4;
  
    /* variables */
    --color-main :  #c92a2a;    /* https://yeun.github.io/open-color/ */
    --color-grey : #343a40;
    --color-greylight : #6c6c6c;
  }
  
  footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
  }
  
  header {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
  }
  
  h1 {
    font-size: 64px;
    margin-bottom: 16px;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 14px;
    text-transform: uppercase;
  }
  
  p:not(:last-child) {
    margin-bottom: 8px;
  }
  
  em {
    font-family: "Kalam", cursive;
    font-size: 1.4em;
    color: #0000ff;
    margin-right: 0.1em;
  }

  .debug {
    border: red 1px dashed;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;

    height: 1px;
    background-color: #c7c7c7;
    border: none;
  }
  
  .btn, .box {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    border-color: #b7b7b7;
    transition: padding 0.1s, box-shadow 0.1s, border-color 0.1s;
  }

  .btn .icon, .box .icon {
    font-size: 20px;
    margin-right: 8px;
    margin-left: -10px;
  }
  
  .btn:not([disabled]):active {
    transform: scale(0.98);
  }

  .hidden {
    visibility: hidden;
  }

  .none {
    display: none !important;
  }
  
  /* --- GENERAL STYLES --- */
  
  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .text-note {
    font-size: 12px;
    color: var(--color-greylight);
  }
  
  /* business components */

  .input-btn {
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #c7c7c7;
    outline: none;
  }

  .input-btn.error {
    box-shadow: rgba(255, 121, 121, 0.2) 0px 6px 18px;
    border-color: #ff0000;
  }
  
  .input-btn:hover,
  .input-btn:focus {
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    border-color: #b7b7b7;
    transition: padding 0.1s, box-shadow 0.1s, border-color 0.1s;
  }
  

  .input-btn.error {
    position: relative;
    border-color: #fc3535;
    box-shadow: rgba(252, 53, 53, 0.2) 0px 8px 24px;
  }


  .input-btn.error:hover,
  .input-btn.error:focus {
    box-shadow: rgba(252, 53, 53, 0.4) 0px 8px 24px;
  }
  
span.wrapper-input {
    position: relative;
    display: inline-block;
}

span.wrapper-input::after {
    content: attr(error-text);
    color: #ff0000;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    bottom: -16px;
    left: 0px;
}


  .input-btn:hover,
  .input-btn.error:hover {
    cursor: pointer;
  }
  
  .input-btn:focus,
  .input-btn.error:focus {
    cursor: text;
  }

.help-item li {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  list-style: none;
  margin-bottom: 18px;
  padding: 10px;
  width: 80%;
  position: relative;
}

.help-item li:last-child {
    margin-bottom: 32px;
}
  
  /* switch label */
  
label.switch {
    cursor: pointer;
    width: 60px;
    height: 30px;
    background-color:#ebebeb;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    border: 1px solid #c7c7c7;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-right: 10px;
  }
  label.switch::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    display: inline-block;
    background-color: white;
    border: 1px solid #c7c7c7;;
    top: 2px;
    left: 3px;
    transition: 0.3s;
  }
  input[type=checkbox]:checked + label.switch {
    background-color:#c7c7c7 ;
  }
  label.switch:active::after {
    width: calc(75% - 3px);
  }
  label.switch:hover {
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    transition: box-shadow 0.1s;
  }
  input[type=checkbox]:checked + label.switch::after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
  }
  
  .wrapper-item, .wrapper-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper-btn {
    justify-content: space-around;
  }


/* dialog */

dialog {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    margin: auto;
    top: -10vh;
}

dialog header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c7c7c7;
    margin: 0;
    padding: 8px 16px;
}

dialog main {
    padding: 8px 16px;
    text-align: center;
}

dialog header .dialog-close {
    padding: 4px;
    border: 1px solid #c7c7c7;
    border-radius: 8px;
    position: relative;
    font-size: 20px;
}

dialog::backdrop {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    animation: fadein-anim 1s;
}

@keyframes fadein-anim {
    from { opacity: 0; }
    to { opacity: 1; }
}

  /* title */

  div.title-textshadow {
    position:absolute;
    top:-200px;
    left:25%;
    opacity: 1;
    /* animation: down-anim 4s forwards, fadeout-anim 1s 5s forwards */
}

@keyframes down-anim {
    0% { top: -200px }
    100% { top: 40vh }
}

@keyframes fadeout-anim {
    0% { opacity: 1 }
    100% { opacity: 0}
}

h1.title-textshadow {
  position: relative;
  display: inline-block;
  color: #4d5eb3;
  font-family: 'Righteous', serif;
  font-size: 9em;
  text-shadow: .01em .01em 0 #fff;
}

h1.title-textshadow::after {
  content: attr(data-shadow);
  position: absolute;
  top: 0.03em;
  left: 0.05em;
  z-index: -1;
  text-shadow: none;
  background-image: linear-gradient(45deg, transparent 45%, #c2c2c2 45%, #c2c2c2 55%, transparent 0);
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shad-anim 30s linear infinite;
}

@keyframes shad-anim {
  0% { background-position: 0 0 }
  0% { background-position: 100% -100% }
}




  